data-core/.project
data-core/.classpath
data-core/.settings/org.eclipse.core.resources.prefs
data-core/.settings/org.eclipse.jdt.apt.core.prefs
data-core/.settings/org.eclipse.jdt.core.prefs
data-core/.settings/org.eclipse.m2e.core.prefs
data-core/.vscode/launch.json
data-core/target/
data-core/logs/sun_echat.log
