<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sun.echat.mapper.UserListMapper">


    <insert id="saveUserInfo" parameterType="java.util.Map">
        insert into user_list (id, ip, nick_name, online, register_time)
        values (#{id}, #{ip}, #{nickName}, 1, now())
    </insert>
</mapper>